body {
  font-size: 1.2rem;
  color: white;
  font-family: Arial;
  border: 0;
  margin: 0;
  background: #2b2f37;
}
.topshelf {
  padding: 10px 20px;
  color: white;
  background: #1d1e24;
  margin-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.navitem {
  float: right;
  cursor: pointer;
  line-height: 50px;
  font-size: 1.5rem;
}
input, select {
  padding: 0 10px;
  width: 250px;
  height: 40px;
  font-size: 1.2rem;
  display: inline-block;
  border: 2px solid #cccccc;
  border-radius: 5px;
  background: #2b2a33;
  color: white;
}
.btn {
  padding: 8px 10px 8px 10px;
  font-size: 1.2rem;
  color: white;
  display: inline-block;
  background: #1d1e24;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: black;
}
.iblock{
	display:inline-block;
}
.w100{
	width:100px;
}
.text {
  display: block;
  margin: 20px 0;
  font-size: 1.5rem;
}
.whitefont {
  color: white;
}
.greyfont {
  color: #808080;
}
.smtext {
  font-size: 1.2rem;
  margin-top: 50px;
  line-height: 2rem;
}
a {
  color: #fdc948;
}
hr {
  margin: 50px 0;
}
#error {
  display: none;
  margin: 20px 0 50px;
  color: white;
  border: 3px solid #bb0000;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
.saved {
  color: #fdc948;
  font-weight: 700;
  display: none;
  margin-left: 10px;
  font-size: 1.5rem;
}
#setup {
  display: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#setup, #transactions { 
  padding: 0 25px 0 25px; 
}
.dot {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #fdc948;
}
#invoices {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
}
td,
th {
  font-weight: unset;
  padding-left: 10px;
}
.column1 {
  width: 10%;
  text-align: center;
}
.column1:first-child{ 
	border-top-left-radius: 10px; 
}
.column2 {
  width: 25%;
}
.column3 {
  width: 15%;
}
.column4 {
  width: 50%;
}
.column4:first-child{ 
	border-top-right-radius: 10px; 
}
#invoices {
  position: relative;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  border-radius: 10px;
}
#invoices table {
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
}
#invoices thead {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
#invoices th {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Arial;
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.4rem;
  text-transform: uppercase;
  background-color: #1d1e24;
  border-bottom: 2px solid black;
}
#invoices td {
  padding: 10px;
  font-family: Arial;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
#invoices tr:nth-child(odd) {
  background-color: #141415;
}
#invoices tr:nth-child(even) {
  background-color: #1d1e24;
}
#tx_count {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.paid_sats {
  display: inline-block;
  background: #056d05;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 30px;
  font-size:1.8rem;
}
.login_box {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  display: block;
  max-width: 300px;
  padding: 50px;
  border-radius: 10px;
  background: #1d1e24;
}

/* RADIO BUTTONS */
.radiolabel {
  display: inline-block;
  position: relative;
  padding: 0 40px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiolabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiolabel:hover input ~ .radiobtn {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiolabel input:checked ~ .radiobtn {
  background-color: #1d1e24;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiolabel input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiolabel .radiobtn:after {
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}
